@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "FAQ";
}
<h2>@ViewData["Title"].</h2>


<h3>@Localizer["Faq1"]</h3>
<p>
    @Localizer["Faq2"]
</p>

<h3>@Localizer["Faq3"]</h3>
<p>
    @Localizer["Faq4"]
    <ul>
        <li>
            <a href="https://azure.microsoft.com/services/" target="_blank">Azure Cloud Directory</a>
        </li>
        <li>
            <a href="https://azure.microsoft.com/en-us/updates/" target="_blank">Azure Cloud Roadmap</a>
        </li>
        <li>
            <a href="https://azure.microsoft.com/nl-nl/services/preview/" target="_blank">Azure Preview features</a>
        </li>
        <li>
            <a href="https://azureinteractives.azurewebsites.net/Azure101Cards/default.html" target="_blank">Azure Interactives: Products</a>
        </li>
    </ul>

    @Localizer["Faq5"]
</p>

<h3>@Localizer["Faq6"]</h3>
<p>
    @Localizer["Faq7"]
</p>

<h3>@Localizer["Faq8"]</h3>
<p>
    <ul>
        <li>
            Public Preview:
        </li>
        <li style="margin-left:25px">
            @Localizer["Faq9"]
        </li>
        <li>
            Generally Available (or GA):
        </li>
        <li style="margin-left:25px">
            @Localizer["Faq10"]
        </li>
    </ul>
</p>
